<form action="{{ url('admin_post_delete', {id: test.id}) }}" method="post" data-confirmation="true" id="delete-form">
    <input type="hidden" name="token" value="{{ csrf_token('delete') }}"/>
    <button type="submit" class="btn btn-primary btn-sm btn-danger">
        <i class="fa fa-trash" aria-hidden="true"></i>
        Supprimer
    </button>
</form>